* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng, sans-serif;
    src: url('./Web\ fonts/stratosskyengweb-regular.woff2');
}

body {
    font-family: StratosSkyeng, sans-serif;
    background: #004980;
}

.game_wrapper {
    padding-left: calc(50vw - 490px);
    padding-right: calc(50vw - 490px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;

    &__wrapper {
        display: flex;
        justify-content: center;
        padding-top: calc(50vh - 230px);
    }

    &__text {
        width: 208px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        padding-top: 52px;
        padding-bottom: 48px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #004980;
    }
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    margin-top: calc(50vh - 230px);
    position: fixed;
    z-index: 100;

    &_svg {
        padding-top: 30px;
    }

    &_text {
        &__header {
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            padding-top: 5px;
            padding-bottom: 28px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #004980;
        }

        &__timer {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #000;
            padding-bottom: 10px;
        }

        &__time {
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            color: #000;
            padding-bottom: 40px;
        }
    }
}

.restart_button {
    cursor: pointer;
    font-family: StratosSkyeng;
    border: none;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.opacity {
    position: fixed;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: #004980;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

.radio-toolbar {
    display: flex;
    gap: 24px;

    label:hover {
        box-sizing: border-box;
        border: 3px solid rgb(55 158 222 / 67.1%);
    }

    input[type='radio'] {
        display: none;
    }

    input[type='radio']:checked + label {
        box-sizing: border-box;
        border: 3px solid red;
    }

    &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98px;
        height: 98px;
        background: #fff;
        border-radius: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        color: #0080c1;
    }
}

.start_button {
    cursor: pointer;
    font-family: StratosSkyeng;
    margin-top: 67px;
    border: none;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.restart_button {
    cursor: pointer;
    font-family: StratosSkyeng;
    border: none;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    width: 980px;
}

.timer {
    display: flex;

    &_name {
        text-align: right;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #fff;
    }

    &_counter {
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        color: #fff;
    }
}

.point::before {
    content: '.';
}

.card_field {
    display: inline-grid;
    gap: 15px;
    margin-top: 35px;
}

.grid_1 {
    grid-template-columns: repeat(3, 1fr);
}

.grid_2 {
    grid-template-columns: repeat(6, 1fr);
}

.grid_3 {
    grid-template-columns: repeat(6, 1fr);
}

.card {
    width: 95px;
    height: 133px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    &_value__up {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #000;
        position: absolute;
        top: 2px;
        left: 6px;
    }

    &_value__down {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #000;
        position: absolute;
        bottom: 2px;
        right: 6px;
        rotate: 180deg;
    }
}

.suit_big {
    position: absolute;
    top: 55px;
    left: 33px;
}

.suit_small__up {
    width: 7px;
    height: 6px;
    position: absolute;
    top: 30px;
    left: 9px;
}

.suit_small__down {
    width: 7px;
    height: 6px;
    position: absolute;
    bottom: 30px;
    right: 9px;
    rotate: 180deg;
}
